html,
body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cookie', cursive;
    font-size: 120%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

/*header*/
.cm-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #74BE79;
    height: 60px;
    z-index: 2;
}

/*top navigation bar*/
.cm-main-navbar {
    height: inherit;
}

.cm-main-list {
    margin: 0;
    padding: 0;
    height: inherit;
    list-style-type: none;
}

.cm-navbar-list-item {
    display: inline-block;
    height: inherit;
}

.cm-main-navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 150px;
    max-width: 18vw;
    text-decoration: none;
    color: #174B84;
    font-weight: bold;
    font-size: calc(16px + 1vw);
}

.cm-main-navbar-link:hover {
    background-color: #518554;
    color: #06AFEB;
}

/*general main styles*/
.cm-main-content {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

/*Main heading and image */
.cm-main-heading-wrapper {
    background: #FDE621;
    text-align: center;
    padding: 1.5rem;
    color: #34B458;
}

.cm-main-heading {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 250%;
}

#cmCookieMonsterImage {
    border-radius: 50%;
    border: 2px solid goldenrod;
}

.cm-disclaimer-text {
    font-size: 110%;
    margin-bottom: .5rem;
}

.cm-hidden {
    visibility: hidden;
    display: none;
}

.cm-about-me-wrapper {
    padding-top: 1rem;
}

.cm-about-me-section {
    padding-bottom: 2rem;
}

.cm-border-bottom {
    border-bottom: 2px solid rgba(44, 44, 44, 1);
}

.cm-section-heading {
    font-size: 150%;
}

.cm-generic-list {
    list-style-type: none;
}

.cm-centered-table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    text-align: left;
}

.cm-centered-table th,
.cm-centered-table td {
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 1);
}

.cm-table-header {
    background-color: #A4E84B;
}

.cm-table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.cm-centered-cell {
    text-align: center;
}

.cm-checkbox {
    -webkit-appearance:none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

.cm-checkbox:checked {
    background-color: #06AFEB;
}

.cm-checkbox:hover {
    cursor: pointer;
}

#cmHomeStory {
    background-color: #EFEFEF;
    padding: 1rem;
}

.cm-message-details {
    padding: 1rem 2rem;
    background-color: #00C4ED;

}

#drawingCanvas {
    border: 15px solid #B47F42;
    border-radius: 10px;
    background-color: rgba(44, 44, 44, 1);
    max-width: 100%;
    cursor: pointer;
}

.cm-fieldset {
    background-color: rgba(218, 165, 32, .2);
    padding: 1rem;
    margin-top: -1rem;
    max-width: 100%;
    min-width: inherit; /* required to fix chrome overflow bug */
}

.cm-general-input {
    background-color: #FDE621;
    color: #34B458;
    border: 2px solid goldenrod;
    font-size: 80%;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    max-width: 100%;
}

.cm-input-400 {
    width: 400px;
    max-width: 100%;
}

.cm-block-label {
    display: block;
    margin-bottom: .25rem;
}

.cm-inline-label {
    margin-right: .5rem;
}

.cm-inline-label::after {
    content: ":";
}

.cm-submit-input {
    padding: .5rem 2rem;
    background-color: #34B458;
    color: #FDE621;
    font-size: 80%;
    border: 3px solid #0FA452;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    outline: none;
}

.cm-submit-input:hover {
    cursor: pointer;
}

.cm-submit-input:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.cm-footer {
    background: linear-gradient(to top, #0FA452, #99f2c8);
    padding: 1rem 2rem;
    display: grid;
    /*overflow: hidden;*/
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 10px;
    text-align: center;
}

.cm-footer-section {
    padding: 1rem;
    border: 1px solid goldenrod;
    background-color: rgba(218, 165, 32, .2);
}

.cm-social-link {
    width: 50px;
    height: 50px;
    margin: .5rem;
}
